# Ignore everything hidden
.*/

# Gradle and IntelliJ buil directories
build
out

# Default data directory and default testdata results
data/
testdata/log/
testdata/conll-u

# Usual results
*.log
*.conll
*.conllu
