_Deparsed_XSubs.pm
log/
logs/
data/
data-alt/
data-lv/
data-lv-*/
data-ltg/
data-ltg-*/
testdata/*/res
testdata/*/logs
testdata/*/log
testdata/*/warnings
testdata/Conll2MA/m-a
testdata/SplitTrainDevTest/skip
testdata/SplitTrainDevTest/test
testdata/SplitTrainDevTest/train
testdata/SplitTrainDevTest/dev
testdata/SplitTrainDevTest/not-mentioned
testdata/SplitBinary/on-list
testdata/SplitBinary/off-list
* (copy).sh
*-ignore.sh
*-ignore.bat
* - Copy.bat




